@font-face {
  font-family: 'Mont';
  src: url("../fonts/Mont-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url("../fonts/Mont-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

*, html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16pt;
  font-style: normal;
  font-family: "Mont", sans-serif;
  color: #212121;
  padding: 0;
  margin: 0;
}

a {
  color: #D71920;
}

a:hover {
  color: #455A64;
}

p {
  line-height: 1.75;
  margin-bottom: 1rem;
}

ul {
  margin: 0 0 0 2rem;
  padding: 0;
}

ul.list-styled {
  list-style: none;
}

ul.list-styled li {
  text-indent: -27px;
  list-style: none;
}

ul.list-styled li:before {
  background: url(../assets/list-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin-right: .5rem;
  width: 18px;
  height: 18px;
  display: inline-block;
  content: '';
}

img {
  max-width: 100%;
}

figure {
  padding: 0;
}

figure figcaption {
  background: #D71920;
  color: #FFFFFF;
  margin: -.25rem 0 0;
  padding: .45rem 1.5rem;
  font-size: 12pt;
}

audio, video {
  max-width: 720px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

hr {
  padding-top: 1rem;
  margin-bottom: 1.5rem;
  border-top: 2px solid #BDBDBD;
  border-top: none;
  border-left: none;
  border-right: none;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #607D8B;
  background-color: #FFFFFF;
  font-size: 12pt;
}

.table td {
  padding: .5rem;
  vertical-align: top;
  border-top: 1px solid #BDBDBD;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #607D8B;
  font-weight: normal;
  color: #D71920;
  text-align: left;
  padding: .5rem;
}

.table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #EEEEEE;
}

.table tfoot td {
  text-align: right;
  font-weight: bold;
}

.table-responsive table {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

header {
  background: #D71920;
  min-height: 4rem;
}

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 80%;
  margin: 0 auto;
}

header .header .logo {
  height: 4rem;
  width: 4rem;
}

header .header .logo a img {
  max-height: 4rem;
  max-width: 4rem;
}

header .header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0rem;
  margin: 0rem;
  list-style: none;
}

header .header nav ul li {
  list-style: none;
  margin: 0rem;
}

header .header nav ul li a {
  padding: .75rem 1.5rem;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 12pt;
}

header .header nav ul li a:hover {
  color: #CFD8DC;
  text-decoration: none;
}

main {
  min-height: calc( 100vh - 64px);
  background: #FFFFFF;
  color: #455A64;
  display: block;
  margin: 0 auto;
}

main > section {
  background: #D71920;
  color: #FFFFFF;
}

main > section .section-title {
  max-width: 80%;
  margin: auto;
}

main > section .section-title h1 {
  padding: 4rem 0;
  font-size: 30pt;
}

main article {
  background: #FFFFFF;
  color: #607D8B;
  max-width: 80%;
  margin: 3rem auto;
}

main article h2 {
  margin-bottom: 2rem;
  font-size: 24pt;
}

main article section {
  border-bottom: 1px solid #BDBDBD;
  padding: 3rem 0;
}

main article section.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main article section.flex figure {
  width: 20%;
}

main article section.flex article {
  width: 80%;
  padding: 0rem 3rem;
  margin: 0 auto;
}

main article section.flexBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main article section.flexBox p {
  padding: 1rem 4rem;
  width: 40%;
}

main article section.flexBox figure {
  width: 20%;
}

footer {
  background: #455A64;
  min-height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer .copy {
  max-width: 80%;
  margin: auto;
  font-size: 10pt;
  color: #FFFFFF;
}
/*# sourceMappingURL=app.css.map */