@font-face {
  font-family: 'Mont';
  src: url("../fonts/Mont-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url("../fonts/Mont-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

*, html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16pt;
  font-style: normal;
  font-family: "Mont", sans-serif;
  color: #212121;
  padding: 0;
  margin: 0;
  background: url("../images/body-bg.png") repeat;
  background-attachment: fixed;
  background-size: content;
}

a {
  color: #d71920;
}

a:hover {
  color: #455A64;
}

p {
  line-height: 1.75;
  margin-bottom: 1rem;
}

ul {
  margin: 0 0 0 2rem;
  padding: 0;
}

ul.list-styled {
  list-style: none;
}

ul.list-styled li {
  text-indent: -27px;
  list-style: none;
}

ul.list-styled li:before {
  background: url(../assets/list-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin-right: .5rem;
  width: 18px;
  height: 18px;
  display: inline-block;
  content: '';
}

img {
  max-width: 100%;
}

figure {
  padding: 0;
}

figure figcaption {
  background: #d71920;
  color: #FFFFFF;
  margin: -.25rem 0 0;
  padding: .45rem 1.5rem;
  font-size: 12pt;
}

audio, video {
  max-width: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

hr {
  padding-top: 1rem;
  margin-bottom: 1.5rem;
  border-top: 2px solid #BDBDBD;
  border-top: none;
  border-left: none;
  border-right: none;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #607D8B;
  border-collapse: collapse;
  font-size: 12pt;
}

.table th, .table td {
  vertical-align: top;
  font-weight: normal;
  text-align: left;
  padding: .5rem;
  border-bottom: 1px solid #BDBDBD;
}

.table thead th {
  border-bottom: 2px solid #607D8B;
  color: #d71920;
}

.table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #EEEEEE;
}

.table.table-striped tbody tr:nth-of-type(even) {
  border-bottom: 1px solid #BDBDBD;
}

.table tfoot td {
  text-align: right;
  font-weight: bold;
}

header {
  background: rgba(215, 25, 32, 0.98);
  min-height: 4rem;
  width: 80%;
  margin: auto;
}

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  padding: 0 3rem;
  margin: 0 auto;
}

header .header .logo {
  height: 4rem;
  width: 4rem;
}

header .header .logo a img {
  max-height: 4rem;
  max-width: 4rem;
}

header .header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0rem;
  margin: 0rem;
  list-style: none;
}

header .header nav ul li {
  list-style: none;
  margin: 0rem;
}

header .header nav ul li a {
  padding: .75rem 1.5rem;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 12pt;
}

header .header nav ul li a:hover {
  color: #CFD8DC;
  text-decoration: none;
}

header .page-title {
  background: #455A64;
  color: #FFFFFF;
  max-width: 100%;
  margin: auto;
}

header .page-title h1 {
  max-width: 100%;
  padding: 5rem 3rem 1rem;
  font-size: 30pt;
  margin: auto;
}

main {
  width: 80%;
  min-height: calc( 100vh - 244px);
  background: #FFFFFF;
  color: #455A64;
  display: block;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main aside {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  max-width: 20%;
  margin-top: 3rem;
}

main aside nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0rem;
  margin: 0rem;
  list-style: none;
}

main aside nav ul li {
  list-style: none;
  margin: 0rem;
  border-bottom: 1px solid #BDBDBD;
}

main aside nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1rem 1.5rem;
  color: #d71920;
  text-decoration: none;
}

main aside nav ul li a:hover {
  color: #455A64;
  text-decoration: none;
}

main aside nav ul li a i {
  margin-right: .5rem;
}

main aside nav ul li.active a {
  color: #607D8B;
}

main article {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background: #FFFFFF;
  color: #607D8B;
  padding: 0 3rem;
  margin: 3rem auto 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80%;
          flex: 0 1 80%;
  max-width: 80%;
}

main article h2 {
  margin-bottom: 2rem;
  font-size: 24pt;
}

main article figure {
  max-width: 25%;
  float: left;
  padding-right: 1rem;
  margin-right: 1rem;
}

main article section {
  padding: 3rem;
}

main article section.different {
  background-color: rgba(150, 150, 150, 0.125);
  margin-bottom: 3rem;
}

main.stevan {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main.stevan section {
  width: 100%;
  margin: 3rem 0;
  padding: 3rem;
}

main.stevan section.section-title {
  background: #d71920;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  max-width: 100%;
  margin: 0;
  padding: 5rem 3rem 1rem;
}

main.stevan section.section-title h1 {
  color: #FFFFFF;
}

footer {
  background: #455A64;
  width: 80%;
  margin: auto;
  min-height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding: 0 3rem;
  margin: auto;
}

footer .footer-links nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

footer .footer-links nav ul li {
  margin: 1rem;
}

footer .footer-links nav ul li a {
  color: #BDBDBD;
  font-size: .85rem;
  text-decoration: none;
}

footer .footer-links nav.links {
  margin-right: auto;
}

footer .copy {
  font-size: .85rem;
  color: #BDBDBD;
  padding: 1rem;
  margin-left: auto;
}

nav.social {
  margin-left: auto;
}

nav.social ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 2;
  border-radius: 50%;
}

nav.social ul li a img {
  width: 36px;
  height: 36px;
  display: block;
  position: absolute;
  z-index: 3;
  background: #FFFFFF;
  padding: 2px;
  border-radius: 50%;
}
/*# sourceMappingURL=app.css.map */